.detailsPage {
  /* background-color: rgb(217, 228, 238); */
}
.movieDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movieDetailsContainer h1 {
  padding-top: 80px;
  margin-bottom: 60px;
  font-size: 45px;
  font-family: "Castoro", serif;
}
.detailsInnerContainer {
  display: flex;
  justify-content: center;
  width: 900px;
  max-width: calc(100% - 60px);
}
.detailsLeft img {
  border: 1px solid rgb(109, 105, 105);
  height: 400px;
}

.detailsRight {
  padding-top: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.releaseDate {
  margin-bottom: 0;
}

.thumbs {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.thumbsUp {
  display: flex;
  width: 70px;
  margin-left: 20px;
}
.thumbsDown {
  display: flex;
  margin-left: 20px;
}
.thumbsUp:hover {
  cursor: pointer;
}
.thumbsDown:hover {
  cursor: pointer;
}
.thumbsDownNumber {
  font-size: 20px;
  margin-left: 15px;
  padding-top: 15px;
}
.thumbsUpNumber {
  font-size: 20px;
  margin-left: 15px;
  padding-top: 15px;
}
.movieActorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: end;
  grid-gap: 2rem;
  margin: 40px 60px;
}
.actorCardContainer {
  border: 1px solid black;
}

.actorCardContainer img {
  width: 100%;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 750px) {
  .detailsInnerContainer {
    display: flex;
    flex-direction: column;
  }
}
