.cardDetailsContainer {
  border: 1px solid black;
}

.cardDetailsContainer img {
  width: 100%;
  justify-self: center;
  align-self: center;
}

.movieTitle {
  font-size: 30px;

  margin: 15px;
  color: black;
}

.cardDetailsContainer a {
  text-decoration: none;
}
