.navContainer {
  height: 60px;
  width: 100%;
  background-color: rgb(29, 122, 165);
  position: fixed;
  box-shadow: 1px 1px 2px rgb(78, 76, 76);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-left: 10px;
}
.favSearch {
  display: flex;
  align-items: center;
}

.favoriteIcon {
  visibility: hidden;
  font-size: 1px;
  margin-right: 10px;
}
.favorite {
  text-decoration: none;
  color: white;

  font-size: 27px;
  font-weight: 500;
}
@media screen and (max-width: 750px) {
  .favoriteIcon {
    visibility: Visible;
    font-size: 17px;
  }
  .favorite {
    display: none;
  }
}
