.movieListGrid {
  padding-top: 100px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: end;

  grid-gap: 5rem;
}
.movieListContainer {
  margin: 0px 100px;
}
